# Ignore Visual Studio folders and temporary files
.vs/
.vs/repos/FileContentIndex
.vs/repos/v17

# Ignore build artifacts
bin/
obj/

# Ignore user-specific files
*.user
*.suo

# Ignore unnecessary project-specific temp files
HerokuAppAutomation/bin/
HerokuAppAutomation/obj/

# Ensure these files are tracked
!HerokuAppAutomation/.gitignore
!HerokuAppAutomation/HerokuAppAutomation.sln
!HerokuAppAutomation/LICENSE
!HerokuAppAutomation/README.md
!LICENSE
!README.md
